/* font-family: "Playfair Display", serif; */

body { 
    font-family: "Roboto", serif;
    line-height: 150%;
    color: #333333;
	font-size: 18px;
	
  }
  body a:focus, body .btn.active.focus, body .btn.active:focus, body .btn.focus, body .btn:active.focus, body .btn:active:focus, body .btn:focus {
        outline: 0px auto -webkit-focus-ring-color;
        outline-offset: 0px;
    }
  h1,h2,h3,h4,h5{
      line-height: 150%;
  }
  h2 {
     line-height: 150%;
  }
  h4 {
    font-size: 18px;
    color: #303030; 
    font-weight: 400;
    margin-bottom: 30px;
	line-height: 150%;
  }  



.container {
	width: 100%;
	max-width: 1170px;
}
.title-head {
    padding-bottom: 20px;
}

.title-head h2 {
    font-family: 'Playfair Display';
    color: #010101;
    font-size: 56px;
    padding-bottom: 10px;
    line-height: 120%;
}

.title-head h4 {
    font-size: 18px;
    color: #333;
}

  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  
  .panel {
    border: 1px solid #f4511e; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color: transparent;
    z-index: 9999;
    border: 0;
    border-radius: 0;
  }
  .navbar li a, .navbar .navbar-brand {
    
    
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {


  }
  .navbar-default .navbar-toggle {
    border-color: transparent;

  }
  
  .section-space {
    padding: 60px 0 80px;
}
   
  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerContainer button.navbar-toggle {
    display: block; 
    opacity: 1;
    border: 1px solid #9f9f9f; 
    border-radius: 60px;
    padding: 10px;
    margin-right: 50px;	
	transition: .3s ease;
}

.headerContainer button.navbar-toggle:hover,
.headerContainer button.navbar-toggle:focus{
	/*background-color: #abcb64;*/
	border-color: #fff;
	transition: .3s ease;
}

.headerContainer a.navbar-brand.logo {
    height: auto;
}

.headerContainer .navbar-header {
    display: flex;
    align-items: center;
}

.headerContainer::before,.headerContainer::after {
    display: none;
}

.headerContainer button.navbar-toggle span.icon-bar {
    background: #fff;
    width: 15px;
}

.headerContainer .navbar-nav>li>a {
    font-size: 16px;
    font-weight: 400;
	color: #fff;
}

.headerContainer .navbar-nav>li>a:hover {
    background: transparent;
	color: #fff;
}

header.header-section.fixed {
 
}

header.header-section.fixed nav.navbar {
    /*backdrop-filter: blur(9px);*/
    background: rgb(255 255 255 / 91%);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    
}

header.header-section.fixed nav.navbar span.icon-bar {
    background: #000;
}

header.header-section.fixed nav.navbar  button.navbar-toggle {
    border-color: #000;
}

header.header-section.fixed nav.navbar .navbar-nav>li>a {
    color: #000;
}

header.header-section.fixed .logo img.white {
  display: none;
}

header.header-section.fixed .logo img.black {
  display: block;
}

header.header-section {
    transition: .3s ease;
}

nav.navbar.navbar-default {
    transition: .3s ease;
}
header.header-section .logo img.white {
  display: block;
}

header.header-section .logo img.black {
  display: none;
}

header.header-section.header-fixed nav.navbar {
    /*background: #ffffffe8;*/
}


header.header-section.header-fixed nav.navbar {
    /*background: #ffffffe8;*/
   /* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);*/
}

header.header-section.header-fixed nav.navbar span.icon-bar {
    /*background: #000;*/
}

header.header-section.header-fixed nav.navbar  button.navbar-toggle {
    /*border-color: #000;*/
}

header.header-section.header-fixed nav.navbar .navbar-nav>li>a {
    /*color: #000;*/
}

header.header-section.header-fixed .logo img.white {
  /*display: none;*/
}

header.header-section.header-fixed .logo img.black {
  /*display: block;*/
}
  
  section#hero .video-bg {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
section#hero .video-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#hero {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 120px 0 100px 0;
    display: flex;
    align-items: end;
	justify-content: start;	
}   

#hero .content-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#hero .content-info::before,#hero .content-info::after {
    display: none;
}

#hero h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 600;
    line-height: 150%;
    color: #fff;   
	font-family: "Playfair Display", serif;	
}

#hero .content-info h2 {
    font-size: 18px;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 400;
}

.inner-header header.header-section nav.navbar button.navbar-toggle span.icon-bar {
    background: #000;
}


#hero.inside-banner {
    padding: 190px 0 60px 0;
    min-height: 500px;
}

.inner-header header.header-section a.navbar-brand.logo img.white {
    display: none;
}

.inner-header header.header-section a.navbar-brand.logo img.black {
    display: block;
}

.inner-header header.header-section .navbar-nav>li>a {
    color: #333;
}

#hero.inside-banner h1 {
    font-size: 48px;
    line-height: 120%;
}


.inner-header header.header-section nav.navbar.navbar-default {
    position: relative;
}

section.about-section {}

section.about-section ul li {border-bottom: 1px solid #e7e7e7;list-style: none;padding-bottom: 12px;padding-top: 12px;color: #333;}
section.about-section ul li > img {
    margin-right: 5px;
}

section.about-section ul li:first-child {
    padding-top: 0;
}

section.about-section ul li:last-child {}

section.about-section ul li span.tx {
    font-size: 24px;
    font-family: 'Playfair Display';
    color: #000;
}
  
  
section.innovation-section {
    background: #FDF2DF;
}

section.innovation-section .title-head {}

section.innovation-section .title-head h2 {
    font-size: 160px;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 800;
    color: transparent;
    background-image: url(../images/clip-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
}

section.innovation-section .btns a svg.icon {
    margin-left: 5px;
}

section.innovation-section .btns {
    display: flex;
    justify-content: center;
}

section.innovation-section .btns a {
    display: flex;
    padding: 10px 25px;
    border-radius: 50px;
    background: #3D8027;
    border: 1px solid #3D8027;
    color: #fff;
    margin: 0 5px;
    text-decoration: none;
    transition: .3s ease;
}

section.innovation-section .btns a:hover {
	background: #1D5C08;
	color: #fff;
}

section.innovation-section .btns a.outline {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 50px;
    background: transparent;
    border: 1px solid #3D8027;
    color: #3D8027;
    margin: 0 5px;
	text-decoration:none;
	transition: .3s ease;
}

section.innovation-section .btns a.outline:hover {
	background: transparent;
	border: 1px solid #1D5C08;
	color: #1D5C08;
}


section.about-section.purpose-section {
	padding: 130px 0 50px;
    background: url(../images/purpose-bg.png);
    background-position: bottom center;
    background-repeat: no-repeat;
}

section.about-section.purpose-section .center-box-flex .center-box {
    flex-direction: column;
    width: 100%;
    position: relative;
    top: -40px;
}

section.about-section.purpose-section .center-box-flex {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

section.about-section.purpose-section .center-box-flex .center-box .title-info h4 {
    font-size: 14px;
}

section.about-section.purpose-section .center-box-flex .center-box .title-info {
    top: 0;
}

section.about-section.purpose-section .pos {
    position: relative;
    top: -60px;
}
section.about-section.purpose-section h2 {
    font-size: 56px;
}

section.about-section.purpose-section {
    /* padding-top: 140px; */
    /* background-size: cover; */
}

section.about-section.purpose-section .counters {
    max-width: 100%;
    margin: auto;
    background: transparent;
    padding: 20px 50px 10px;
    width: 100%;
}

section.about-section.purpose-section .counters div.row::before,section.about-section.purpose-section .counters div.row::after {
    display: none;
}

section.about-section.purpose-section .counters h2.my-2 {
    margin-top: 0;
    color: #000;
    font-family: 'Playfair Display';
    font-size: 40px;
    font-weight: bold;
}

section.about-section.purpose-section .counters .box {
    margin: 0 20px;
}

section.about-section.purpose-section .counters p.textmuted {
    color: #000;
    font-size: 18px;
    padding: 7px 0 5px;
}


section.about-section.purpose-section .title-info h2, section.about-section.purpose-section .title-info h4 {
    color: #fff;
    font-style: italic;
}

section.about-section.purpose-section .title-info {
    padding-bottom: 30px;
    position: relative;
    top: -50px;
}

section.about-section.purpose-section .counters div.row {
    display: flex;
    justify-content: space-around;
    /* width: 100%; */
}

section.about-section.purpose-section .title-info h2 {
    font-size: 32px;
}

section.about-section.purpose-section .title-info h4 {
}

.center-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.animated-border-box, .animated-border-box-glow{
  max-height: 300px;
  max-width: 550px;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
  /* Border Radius */
  border-radius: 70px;
  margin: auto;
}

.animated-border-box-glow{
  overflow: hidden;
  /* Glow Blur */
  filter: blur(20px);
}

.animated-border-box:before, .animated-border-box-glow:before {
  content: '';
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
  width: 99999px;
  height: 99999px;
  background-repeat: no-repeat;
  background-position: 0 0;
  /*border color, change middle color*/
  background-image: conic-gradient(rgba(0, 0, 0, 0), #006703, rgba(0, 0, 0, 0) 25%);
  /* change speed here */
  animation: rotate 4s linear infinite;
}

.animated-border-box:after {
	content: '';
	position: absolute;
	z-index: -1;
  /* border width */
	left: 5px;
	top: 5px;
  /* double the px from the border width left */
	width: calc(100% - 10px);
	height: calc(100% - 10px);
  /*bg color*/
	background: rgba(255, 255, 255, 1);
  /*box border radius*/
	border-radius: 70px;
	backdrop-filter: blur(4px);
}

@keyframes rotate {
	100% {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}


.recycle-slider-section .sliderContainer {
  position: relative;
}
section.recycle-slider-section {
    padding-bottom: 0;
    padding-top: 0;
}
.recycle-slider-section .slider {
  width: 100%;
  margin: 0px;
}

.recycle-slider-section .slick-slide {
  color: white;
}

.recycle-slider-section .slick-prev:before,
.recycle-slider-section .slick-next:before {
  color: black;
}

.recycle-slider-section .slick-dots {
  bottom: -30px;
}

.recycle-slider-section .slick-slide:nth-child(odd) {

}

.recycle-slider-section .progressBarContainer {
  position: absolute;
  bottom: 50px;
  width:100%;
  left:0px;
  display: flex;
  justify-content: space-between;
}

.recycle-slider-section .progressBarContainer div.itemsContent{
  display: block;
  width: 19%;
  padding: 0;
  cursor: pointer;
  margin-right: 10px;
  float: left;
  color: white;
}

.recycle-slider-section .progressBarContainer div.itemsContent:last-child {
  margin-right: 0;
}

.recycle-slider-section .progressBarContainer div.itemsContent span.progressBar {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.4);
  display: block;
}

.recycle-slider-section div.itemsContent p.textif {
    padding: 15px 0px 0px 15px;
	font-weight: 300;
}
.recycle-slider-section .slider .contentinfo > p {
    margin: 0;
}

.recycle-slider-section .slider .contentinfo .title-head h2 {
    margin-top: 10px;
}

.recycle-slider-section .progressBarContainer div.itemsContent span.progressBar .inProgress {
  background-color: rgba(255, 255, 255, 1);
  width: 0%;
  height: 2px;
}

.recycle-slider-section .slider .contentinfo {
    position: absolute;
    bottom: 140px;
	left: 0;
	display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
}
section.recycle-slider-section .contentright a {
    display: flex;
    padding: 10px 25px;
    border-radius: 50px;
    background: #fff;
    border: 1px solid #fff;
    color: #333;
    margin: 0 5px;
    text-decoration: none;
    transition: .3s ease;
	outline: none;
}

section.recycle-slider-section .contentleft {

}

section.recycle-slider-section .contentleft .title-head {
    padding: 0;
}

section.recycle-slider-section .contentleft .title-head p {
    margin: 0;
}


.recycle-slider-section .slider .contentinfo h2 {
    color: #fff;
}

.recycle-slider-section .container {
    position: relative;
}

.cl-logo-slider .customer-logos .slick-track {
    align-items: center;
    display: flex;
}

section.blue-section {
    background: #1C72AE;
    color: #fff;
    padding: 80px 0 80px;
}

section.blue-section .box p {
    margin: 15px 0 0 0;
    font-size: 14px;
}

section.feature-section {
    padding-top: 100px;
    padding-bottom: 30px;
}

section.feature-section h2.my-2 {
    font-family: 'Playfair Display';
    font-size: 18px;
    margin-bottom: 5px;
}

section.feature-section p {
    font-size: 14px;
}

section.business-section {
    background: url(../images/map-bg.png);
    background-repeat: no-repeat;
    background-position: center bottom -230px;
    padding-bottom: 100px;
}

section.business-section .nav-tabs {
    display: inline-block;
    justify-content: center;
    margin-bottom: 30px;
}

section.business-section .containers {
    text-align: center;
}

section.business-section .nav-tabs li.nav-item {
    margin-left: 12px;
    margin-right: 12px;
}

section.business-section .nav-tabs  li.nav-item.active a.nav-link {
    color: #000;
    border: 0;
    border-bottom: 2px solid #000;
    font-weight: 400;
}

section.business-section .nav-tabs li.nav-item a.nav-link {
    border: 0;
    border-bottom: 2px solid transparent;
    color: #333;
}

section.business-section .tab-pane .box a {
    border: 1px solid #F5F5F5;
    padding: 15px;
    border-radius: 12px;
    text-align: left;
    text-decoration: none;
    display: block;
    transition: .5s ease;
    background-color: #fff;
}

section.business-section .tab-pane .box a:hover {
    box-shadow: 0 0 13px 12px #eee;
    margin-top: -5px;
    transition: .5s ease;
}

section.business-section .tab-pane {}

section.business-section .tab-pane .box .image img {
    border-radius: 12px;
}

section.business-section .tab-pane .box h3 {
    font-size: 16px;
    font-family: 'Playfair Display';
    color: #010101;
}

section.business-section .tab-pane .box p {
    margin: 0;
    color: #000;
    font-size: 14px;
}

section.discover-more-section .box a {
    border: 1px solid #F5F5F5;
    padding: 15px;
    border-radius: 12px;
    text-align: left;
    text-decoration: none;
    display: block;
    transition: .5s ease;
}

section.discover-more-section .box a:hover {
    box-shadow: 0 0 13px 12px #eee;
    margin-top: -5px;
    transition: .5s ease;
}

section.discover-more-section .box .image img {
    border-radius: 12px;
}

section.discover-more-section .box h3 {
    font-size: 16px;
    font-family: 'Playfair Display';
    color: #010101;
}

section.discover-more-section .box p {
    margin: 0;
    color: #000;
}

section.discover-more-section .box a h3 {
    margin-top: 0;
}

section.discover-more-section .box .info {
    padding: 13px 0 0;
}

section.discover-more-section .box .info p {
    font-size: 14px;
}

section.discover-more-section .box .info span {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #1D5C08;
    font-weight: 500;
}

.inner-main {
    padding-top: 0px;
}

.inner-main section.about-section .row {
    align-items: center;
    display: flex;
}

.inner-main section.about-section .info h4 {
    margin-bottom: 0;
}
  
footer.footer-section {
    background: url(../images/footer-bg.jpg);
    background-position: bottom;
    padding-top: 80px;
	padding-bottom: 0;
}


footer.footer-section .title-head h2 {
    font-size: 48px;
    padding-bottom: 10px;
    line-height: 130%;
}

.footer-top .btns a {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 50px;
    background: transparent;
    border: 1px solid #3D8027;
    color: #3D8027;
    margin: 0 5px;
	text-decoration:none;
	transition: .3s ease;
}

.footer-top .btns a:hover {
	background: #3D8027;
	color: #fff;
}

.footer-top .btns a svg.icon {
    margin-left: 5px;
}

.footer-top .btns {
    display: flex;
    justify-content: center;
}

.footer-top .btns a {
    display: flex;
    padding: 10px 25px;
    border-radius: 50px;
    background: #3D8027;
    border: 1px solid #3D8027;
    color: #fff;
    margin: 0 5px;
    text-decoration: none;
    transition: .3s ease;
}

.footer-top .btns a:hover {
	background: #1D5C08;
	color: #fff;
}

.footer-top .btns a.outline {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 50px;
    background: transparent;
    border: 1px solid #3D8027;
    color: #3D8027;
    margin: 0 5px;
	text-decoration:none;
	transition: .3s ease;
}

.footer-top .btns a.outline:hover {
	background: transparent;
	border: 1px solid #1D5C08;
	color: #1D5C08;
}

footer.footer-section .footer-top {}

footer.footer-section .footer-top h4 {
    margin-bottom: 10px;
}

footer.footer-section .footer-top .title-head {
}

footer.footer-section .footer-top .btns {
    padding-bottom: 80px;
}

footer.footer-section .footer-btm {}

footer.footer-section .footer-btm h4 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
}

footer.footer-section .footer-btm ul {
    padding: 0;
}

footer.footer-section .footer-btm .footer-btm-top ul li {
    list-style: none;
    margin: 0 0 7px 0;
}

footer.footer-section .footer-btm ul li a {
    color: #333;
    font-size: 14px;
}
footer.footer-section .footer-btm-top {
	padding-bottom: 50px;
}

footer.footer-section .footer-btm .footer-btm-top .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer.footer-section .footer-btm .footer-btm-top .row .footer-links {
    width: auto;
}

footer.footer-section .footer-btm .footer-btm-top .row::before,footer.footer-section .footer-btm .footer-btm-top .row::after {
    display: none;
}

footer.footer-section .footer-btm .footer-btm-mid .container {
    display: flex;
    width: 100%;
	justify-content: space-between;
    align-items: center;
}

.footer-mid-left ul {
    display: flex;
}

footer.footer-section .footer-btm .footer-btm-mid .container::before,footer.footer-section .footer-btm .footer-btm-mid .container::after {
    display: none;
}

footer.footer-section .footer-btm ul a {}

footer.footer-section .footer-btm .footer-mid-left ul {
    margin: 0;
}

footer.footer-section .footer-btm .footer-btm-mid .footer-mid-left ul li a {
    border: 1px solid #afafaf;
    border-radius: 40px;
    font-size: 18px;
    width: 36px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
	text-decoration: none;
	transition: .3s ease;
}
footer.footer-section .footer-btm .footer-btm-mid .footer-mid-left ul li a:hover{
	 border-color: #000;
}
footer.footer-section .footer-btm .footer-btm-mid li {
    list-style: none;
}
footer.footer-section .footer-btm .footer-btm-mid .footer-mid-left ul li {
    margin-right: 10px;
	margin-bottom: 0;
}

footer.footer-section .footer-btm .footer-btm-mid .container {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
	padding: 15px 0;
}

.footer-btm-last {
    padding: 30px 0;
}

.footer-btm-last .container .row {
    display: flex;
}

.footer-btm-last .container::before,.footer-btm-last .container::after {
    display: none;
}

.footer-btm-last p {
    font-size: 14px;
}

.footer-btm-last a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

footer.footer-section .footer-btm .footer-btm-last ul {
    display: flex;
}

footer.footer-section .footer-btm .footer-btm-last ul li {margin-left: 40px;}

footer.footer-section .footer-btm .footer-btm-last ul li a {
    display: inline-block;
}

.footer-mid-right {
    display: flex;
}

.footer-mid-right a {
    color: #333;
    font-size: 14px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.footer-mid-right a i.fa {
    margin-right: 10px;
    font-size: 22px;
}

a.topscroll {
    position: fixed;
    bottom: 10px;
    right: 10px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 44px;
    transition: all 0.4s;
    color: #000;
    box-shadow: 0px 2px 12px rgb(0 0 0 / 28%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navbar container */
header.header-section .navbar {

}

/* Links inside the navbar */
header.header-section .navbar-nav>li>a {
    float: left;
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 30px;
}

header.header-section .navbar-nav>li>a:hover {
    background: #ffffff1c;
}

header.header-section .navbar-nav>li>a:focus{
	color: #fff;
	outline: none;
}

header.header-section .dropdown {
  float: left;
  overflow: hidden;
  position: unset;
}

header.header-section .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; 
  margin: 0; 
}

header.header-section .navbar a:hover, .dropdown:hover .dropbtn {
	
}

header.header-section .dropdown-content {
	display: none;  
	position: absolute;
	background-color: #fff;
	width: 100%;
	left: 0;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	top: 100%;
	border-radius: 12px;
	padding: 20px;
}

/* Mega Menu header, if needed */
header.header-section .dropdown-content .header {
	margin-bottom: 12px;
}

/* Show the dropdown menu on hover */
header.header-section .dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
header.header-section .column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #ccc;
  height: 250px;
}

/* Style links inside the columns */
header.header-section .column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color on hover */
header.header-section .column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
header.header-section .row:after {
  content: "";
  display: table;
  clear: both;
}

.navbar-default .navbar-collapse {
    position: relative;
    width: 50%;
}

.dropdown-content .header h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

header.header-section .dropdown-content .column.onecol {
    height: auto;
    width: 100%;
    background: transparent;
}

header.header-section .dropdown-content .column {
    height: auto;
    width: 100%;
    background: transparent;
}

.dropdown-content .column.onecol ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.dropdown-content .column ul {
    padding: 0;
    display: block;
    width: 100%;
}

.dropdown-content .column ul li {
    width: 50%;
    list-style: none;
    margin: 4px 0;
}

header.header-section .dropdown-content .column ul li a {
    padding: 0;
    /* font-family: 'Roboto'; */
	font-size: 15px;
	background: transparent;
	line-height: 150%;
}

header.header-section .dropdown-content.multi-col1 .column ul li a {
    font-size: 14px;
}

header.header-section .dropdown-content .column {
    padding: 0;
}

header.header-section .dropdown-content  .row {
    margin: auto;
}

header.header-section .dropdown-content.multi-col {}

header.header-section .dropdown-content.multi-col .row {
    display: flex;
    flex-wrap: wrap;
}

header.header-section .dropdown-content.multi-col .row .column {
    width: 50%;
}

header.header-section .dropdown-content.multi-col .row .column h3 {
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 12px;
}

header.header-section .dropdown-content.multi-col ul li {
    width: 100%;
	margin: 12px 0;
}

.navbar div.navbarcollapse.collapse {
    position: fixed;
    left: -100%;
    /* transition: .3s ease; */
    top: 0;
    width: 100%;
    background: #00000063;
    height: 100%;
    overflow: hidden;
    display: block;
}

.navbar div.navbarcollapse.collapse.in {
    left: 0;
}

.navbar div.navbarcollapse.collapse .sldebar-left {
    max-width: 400px;
    background: #fff;
    height: 100%;
    transition: .5s ease;
    left: -100%;
    position: relative;
    overflow-y: auto;
    scrollbar-width: none;
}

.navbar div.navbarcollapse.collapse .sldebar-left .navbar-nav>li {
    /*display: flex;*/
    float: none;
    margin: 0px 0;
    display: inline-block;
    width: 100%;
}

.navbar div.navbarcollapse.collapse .sldebar-left .navbar-nav>li>a {
    color: #333;
    display: flex;
    align-items: center;
}

.navbar div.navbarcollapse.collapse .sldebar-left .navbar-nav>li>a img.white {
    margin-right: 5px;
}

.navbar div.navbarcollapse.collapse .sldebar-left li.dropd a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 0;
}

.navbar div.navbarcollapse.collapse .sldebar-left a.navbar-brand.logo {
    display: block;
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 10px;
}

.navbar div.navbarcollapse.collapse .sldebar-left ul.nav.navbar-nav {
    float: none !important;
    display: inline-block;
    margin: auto;
    width: 100%;
}

.navbar div.navbarcollapse.collapse .sldebar-left li.dropd .level-second > ul {
    padding-left: 45px;
    padding-bottom: 10px;
}

.navbar div.navbarcollapse.collapse .sldebar-left li.dropd .level-second {
    display: inline-block;
    width: 100%;
}

.navbar div.navbarcollapse.collapse .sldebar-left li.dropd .level-second ul li a {
    padding: 5px 0;
    /* font-family: 'Roboto'; */
    font-size: 15px;
    background: transparent;
    line-height: 150%;
    float: none;
    color: #333;
    text-decoration: none;
    display: block;
    text-align: left;
    display: inline-block;
}
.navbar div.navbarcollapse.collapse .sldebar-left li.dropd .level-second ul li a:hover {
    color: #88a93b;
}
.navbar div.navbarcollapse.collapse .sldebar-left li.dropd .level-second ul li {
    list-style: none;
}

.navbar div.navbarcollapse.collapse .sldebar-left li.dropd .level-second .dropdown-content {
    display: flex;
    position: relative;
    box-shadow: none;
    padding: 0;
}

.navbar div.navbarcollapse.collapse .sldebar-left li.dropd .level-second .dropdown-content .row {
    flex-direction: column;
    justify-content: start;
    margin: 0;
    padding: 0 0 0 45px;
}

.navbar div.navbarcollapse.collapse .sldebar-left li.dropd .level-second .dropdown-content .row .column:first-child {
    margin-top: 0;
}

.navbar div.navbarcollapse.collapse .sldebar-left li.dropd .level-second .dropdown-content .row .column {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar div.navbarcollapse.collapse .sldebar-left li.dropd .level-second .dropdown-content li {
    margin: 0;
}

.navbar div.navbarcollapse.collapse .sldebar-left li.dropd .level-second .dropdown-content .row .column h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar div.navbarcollapse.collapse .sldebar-left li.dropd .level-second .dropdown-content .row .column  a {
    padding-top: 5px;
    padding-bottom: 0;
}

.level-second .dropdown-content .row .column a:hover, .level-second a:hover {
    color: #000;
    font-weight: bold;
    transition: .3s ease;
}

.customer-logos .slick-slide img {
    width: 100%;
    max-width: 160px;
}
.aw-heading h3 {
    margin-top: 0;
    padding-bottom: 20px;
    font-weight: bold;
}
.awards-wrapper .box .info h3 {
    min-height: 90px;
}
section.our-ups {
    padding-top: 0;
}
section.about-section.our-ups {
    padding-bottom: 20px;
}

section.our-ups .container {
    max-width: 950px;
    margin: auto;
}

section.our-ups .row {
    padding-bottom: 50px;
}

.inner-main section.discover-more-section h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.inner-main section.about-section.purpose-section {
    background: transparent;
    padding-top: 70px;
}

.inner-main section.about-section.purpose-section .counters {
    max-width: 100%;
    width: 100%;
    padding: 0;
}

.inner-main section.about-section.purpose-section .counters div#counter {
    width: 100%;
    justify-content: space-between;
}

.inner-main section.about-section.purpose-section  .animated-border-box {
    max-width: 100% !important;
    border-radius: 0;
    overflow: visible;
    min-width: 100%;
    max-height: none;
}

.inner-main section.about-section.purpose-section .animated-border-box::before {
    display: none;
}

section.about-section.purpose-section .counters .box p.textmuted {
    font-size: 15px;
}

section.about-section.purpose-section .counters .box {
    margin: 0;
}

.inner-main section.about-section.purpose-section .counters div#counter::before,.inner-main section.about-section.purpose-section .counters div#counter::after {
    display: none;
}

.inner-main section.about-section.purpose-section .counters  h2.my-2 {
    font-size: 24px;
    margin: 10px 0 0 0;
}

.inner-main section.about-section.our-ups {
    padding-bottom: 20px;
}

.inner-main section.about-section.our-ups .info h2,
.inner-main section.about-section.our-upss .info h2{
    font-family: 'Playfair Display';
    font-size: 24px;
    font-weight: 600;
}


.inner-main section.about-section.our-ups .info h4 {
    font-size: 16px;
    padding-top: 10px;
}

.inner-header header.header-section.fixed nav.navbar.navbar-default {
    position: fixed;
}

section.section1.about-section {
    padding-top: 100px;
}


.inner-main .info.info-list li {
    list-style: disc;
    padding: 0;
    margin: 3px 0;
    border: 0;
}

.inner-main .info.info-list ul {
    padding-left: 30px;
}

.inner-main .title-head.btm.btm1 h2 {
    font-family: "Roboto", serif;
    font-size: 40px;
}

.inner-main .title-head.btm.btm1 {
    padding-bottom: 50px;
}

section.discover-more-section {
  padding-top: 0;
}

section.journey-section {
    background: url(../images/journey-image2.jpg);
    background-attachment: fixed;
    background-position: top center;
    margin-bottom: 0px;
    padding: 100px 0;
}

/* The actual timeline (the vertical ruler) */
  section.journey-section .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    /* max-height: 1100px; */
    overflow-y: auto;
    scrollbar-width: none;
}
  
  /* The actual timeline (the vertical ruler) */
  section.journey-section .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: antiquewhite;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  
  /* Container around content */
  section.journey-section .containerz {
    padding: 10px 0px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  section.journey-section .container::after {
    content: "\2744"; /* Unicode for snowflake character */
    position: absolute;
    width: 25px;
    height: 25px;
    right: -2px;
    color: antiquewhite;
    border-radius: 50%;
    z-index: 1;
    font-size: 48px;
    top: 15px;
    
  }
  
  /* Place the container to the left */
  section.journey-section .left {
    left: 0;
  }
  
  /* Place the container to the right */
  section.journey-section .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  section.journey-section .left::before {
    content: " ";
    height: 10px;
    position: absolute;
    top: 6px;
    width: 10px;
    z-index: 1;
    right: -3px;
    border: medium solid white;
    border-width: 0;
    border-color: transparent transparent transparent white;
    background: #fff;
    display: inline-block;
    border-radius: 30px;
}
  /* Add arrows to the right container (pointing left) */
  section.journey-section .right::before {
    content: " ";
    height: 10px;
    position: absolute;
    top: 6px;
    width: 10px;
    z-index: 1;
    left: -7px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    border-width: 0;
    border-color: transparent transparent transparent white;
    background: #fff;
    display: inline-block;
    border-radius: 30px;
}
  
  /* Fix the circle for containers on the right side */
  section.journey-section .right::after {
    left: -22px;
  }
  
  /* The actual content */
  section.journey-section .content {
    padding: 20px 30px;
    background: rgb(24, 23, 22);
    background: transparent;
    position: relative;
    border-radius: 0;
    border-top: 1px solid white;
    box-shadow: none;
  }

  
  section.journey-section .kerstbal-container {
    margin: auto; 
    display:flex;
    flex-direction: column;
    align-items: center;   
    width: 250px;
    height: 250px;
}

  section.journey-section .kerstbal {         
    width: 200px;
    height: 200px;

}

section.journey-section .ring {
    width: 15px;
    height: 10px;
    border: 2px solid black;
    border-radius: 50%;
}

section.journey-section .top {
    width: 25px;
    height: 10px;
    background-color: rgb(240, 5, 5);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


section.journey-section .bal {
  width:200px;
  height: 200px;
border: 1px solid white;
  border-radius: 50%; 
background-size: 100% 100%;
background-repeat: no-repeat;   
}

section.journey-section .content h2 {
    color: #fff;
    font-family: 'Playfair Display';
    margin-top: 0;
}

section.journey-section .kerstbal-container ul li,section.journey-section .kerstbal-container p {
    color: #fff;
    font-family: "Roboto", serif;
    font-weight: 300;
}

section.journey-section .kerstbal-container {
    width: auto;
    height: auto;
}

section.journey-section .left h2 {
    text-align: right;
}

section.journey-section .kerstbal-container ul li {
    margin: 10px 0;
}

.mission-vision section.section1.section-01 {
    padding-top: 60px;
    padding-bottom: 20px;
}

.mission-vision section.about-section.our-ups.btm1 {
    padding-bottom: 60px;
}

.inner-main.board-director .container {
    max-width: 1280px;
}


section.about-section.section-01 .row.spacing {
    margin-top: 30px;
    margin-bottom: 100px;
    border-radius: 16px;
    overflow: hidden;
    background: #02240a;
    color: #fff;
}

section.about-section.section-01 .row.spacing h2 {
    font-size: 32px;
    margin-bottom: 0px;
}

section.about-section.our-upss.section-01 .row.spacing h2 {
    margin-bottom: 0;
}

section.about-section.section-01 .row.spacing p.textu {
    text-decoration: underline;
    padding-bottom: 10px;
}

section.about-section.section-01 .row.spacing li {
    margin: 0;
}

section.about-section.btm-line .title-head h2 {
    font-size: 40px;
}

section.about-section.section-01 .row.spacing:last-child {
    margin-bottom: 60px;
}

section.about-section.section-01 .row.spacing h4, 
section.about-section.section-01 .row.spacing p, 
section.about-section.section-01 .row.spacing li {
    color: #fff;
    font-size: 16px;
}
 
section.about-section.section-01 .row.spacing > div {
    padding: 0;
}

section.about-section.section-01 .row.spacing .info {
    padding: 0 32px;
}

section.about-section.our-upss.section-01 {
    padding-bottom: 0;
}

section.about-section.btm-line {
    padding-top: 0;
}

.certifications {}

.certifications .box {
    min-height: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.certifications .box .image {
    background: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
    min-height: 180px;
    display: flex;
}

.certifications .box .image.blue {
    background: #0073b5;
}

.certifications .box .image.green {
    background: #77AE11;
}

.certifications .box .image img { 
    max-width: 140px;
    margin: auto;
}

.certifications .box .info h3 {
    font-size: 16px;
}

.certifications .box .info p {
    font-size: 14px;
    line-height: 150%;
}


.awards-wrapper .box .image img {
    max-width: 180px;
}

.awards-wrapper .box .image img.nomax {
    max-width: 240px;
}

.awards-wrapper .box .image {
    min-height: 300px;
}

.awards-wrapper .box {
    min-height: 380px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.members-wrapper .box .image img {
    max-width: 180px;
}

.members-wrapper .box .image {
    min-height: 260px;
}

.members-wrapper .box {
    min-height: 370px;
    margin-top: 20px;
    margin-bottom: 0px;
}


.our-journey section.section1.about-section {
    padding-top: 60px;
}

.my-slider .slick-initialized .slick-slide{
  background-color: #b32532;
  color: #FFF;
  height: 200px;
  margin: 0 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}



.my-slider .slick-next, .my-slider .slick-prev {
    z-index: 5;
    width: 32px;
    height: 32px;
    border-radius: 20px;
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
}
.my-slider .slick-next{
  right: -15px;
    background-color: #000;
    background-image: url(../images/arrow-left1.png);
}
.my-slider .slick-prev {
    left: -15px;
    background-color: #000;
    background-image: url(../images/arrow-right1.png);
}
.my-slider .slick-next:before, .my-slider .slick-prev:before{
  color: #000;
  font-size: 26px;
  display: none;
}

.my-slider .slick-list  {
    border-radius: 16px;
    overflow: hidden;
}

.my-slider .slick-dots {
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.about-section .my-slider ul li {
    padding: 0;
    border: 0;
    height: auto;
    width: auto;
    margin: 0;
}

.csr-vision section.about-section.section-01 .left {
    padding-right: 70px;
}

.csr-vision section.about-section.section-03 .right {
    padding-left: 40px;
}

section.about-section.section-03 h4 {
    margin-bottom: 0;
}

.csr-vision section.about-section.our-ups.btm1 {
    padding-bottom: 80px;
}

.csr-vision {}

.csr-vision .container {
    max-width: 1200px;
}

.csr-vision section.about-section.section-01 {
    padding-top: 100px;
}

.csr-vision 
 section.about-section.our-ups .box .image img {
    border-radius: 10px;
}

.csr-vision section.about-section.our-ups .box h3 {
    font-family: 'Playfair Display';
    font-size: 16px;
    font-weight: bold;
}

.csr-vision section.about-section.our-ups .box p {
    font-size: 14px;
    margin: 0;
}

.csr-vision section.about-section.our-ups  .container {
    max-width: 800px;
}

.csr-vision section.about-section.our-ups  .box {
    border: 1px solid #F5F5F5;
    padding: 12px;
    border-radius: 12px;
    text-align: left;
    text-decoration: none;
    display: block;
    background-color: #fff;
}

section.about-section.section-01 .my-slider.my-slider1 .row.spacing {
    margin: 0;
    padding: 0;
}

.product-listing > div.row {
    flex-wrap: wrap;
}


.product-listing {
    padding-bottom: 60px;
}

.product-listing .tabs {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.product-listing .tabs button.btn {
    margin: 0 5px;
    box-shadow: none;
    border-radius: 40px;
    background: transparent;
    border: 1px solid #DEDEDE;
    padding: 8px 25px;
}

.product-listing .tabs button.btn.active {
    background: #1D5C08;
    color: #fff;
    border-color: #1D5C08;
}

.product-listing .box {
    margin-bottom: 40px;
}

.product-listing .box a {
    color: #000;
    text-decoration: none;
}

.product-listing .box .image img {
    border-radius: 12px;
}

.product-listing .box h3 {
    margin-top: 15px;
    font-family: 'Playfair Display';
    font-size: 18px;
}

.product-listing .box p {
    font-size: 14px;
    line-height: 140%;
}

.product-listing .box .enyq {
    border-radius: 20px;
    border: 1px solid #1d5c08;
    text-align: center;
    padding: 6px 0;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    color: #1d5c08;
    margin-top: 5px;
    font-weight: 500;
    background: transparent;
}


@media screen and (max-width: 1400px) {
      .product-listing .box h3 {
            min-height: 45px;
        }
        
        .product-listing .box .info p {
            min-height: 65px;
        }
}
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    section.journey-section .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    section.journey-section .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    section.journey-section .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    section.journey-section .left::after, section.journey-section .right::after {
    left: 8px;
    }
    
    /* Make all right containers behave like the left ones */
    section.journey-section .right {
    left: 0%;
    }
  }




@media screen and (min-width: 1400px) {
    .container {
    	max-width: 1320px;
    }
    section.about-section ul li {
        padding: 15.5px 0;
    }
}
  
@media screen and (min-width: 1200px) {
    section.section1.about-section .right-space {
        padding-right: 100px;
    }
}
  
  @media screen and (max-width: 1500px) {
      .title-head h2 {
    font-size: 45px;
}

.title-head h4 {
    font-size: 16px;
}

      .navbar-default .navbar-collapse {
          width: 60%;
      }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  
  
  @media screen and (max-width: 650px) {
    .logo {
      font-size: 150px;
    }
    
    .headerContainer a.navbar-brand.logo {
        padding-left: 0;
    }
    
    .navbar div.navbarcollapse.collapse .sldebar-left {
    max-width: 360px;
    overflow: auto;
}

.navbar div.navbarcollapse.collapse .sldebar-left img.white {
    max-width: 190px;
}

.navbar div.navbarcollapse.collapse .sldebar-left a.navbar-brand.logo {
    padding: 13px;
}

.navbar div.navbarcollapse.collapse .sldebar-left .navbar-nav>li>a {

    width: 100%;
    text-align: left;
    padding: 12px 16px;
}

.container.headerContainer {

}

header.header-section .navbar-header {
    adding: 0 15px 0 0px;
        width: 100%;
        margin: auto;
        /* padding: 0; */
        /* flex-direction: row-reverse; */
        /* justify-content: space-between;*/
}

header.header-section .navbar-header button.navbar-toggle {
    margin-right: 15px;
}

header.header-section .logo img.white,
header.header-section .logo img.black{
    max-width: 180px;
}

header.header-section .navbar-header::before,header.header-section .navbar-header::after {
    display: none;
}

.navbar div.navbarcollapse.collapse .sldebar-left li.dropd .level-second .dropdown-content .row {
    padding: 0 0 0 15px;
}

  #hero h1 {
    font-size: 20px;
    line-height: normal;
}

#hero .content-info {
    flex-direction: column-reverse;
    align-items: start;
}

section#hero {
    min-height: 60vh;
    padding-bottom: 30px;
}

#hero h1 br {
    display: none;
}

#hero .content-info .right >img {
    width: 180px;
}

#hero .content-info h2 {
    font-size: 16px;
}

.title-head h2 {
    font-size: 24px;
}

.section-space {
    padding: 20px 0 20px;
}

.image {}

section.about-section ul {
    padding-top: 30px;
    padding-left: 0;
}

section.about-section ul li img {
    max-width: 30px;
}

section.about-section ul li span.tx {
    font-size: 16px;
}

body section.about-section.purpose-section .center-box-flex {flex-direction: column;}

body section.about-section.purpose-section h2 {
    color: #000;
}

body section.about-section.purpose-section h4 {
    color: #000;
}

body section.about-section.purpose-section .title-info h2 {
    color: #000;
}

body section.about-section.purpose-section .center-box-flex .center-box .title-info h4 {
    color: #000;
}

section.about-section.purpose-section {
    background-size: cover;
    background-position: top;
    background: transparent;
}

section.about-section.purpose-section 
 .animated-border-box {
    border: 1px solid #ccc;
}

section.innovation-section .title-head h2 {
    font-size: 40px;
}

.title-head h4 {
    font-size: 14px;
}

section.innovation-section .btns a,section.innovation-section .btns a.outline {
    padding: 6px 20px;
    height: auto;
}

section.innovation-section {
    padding-bottom: 40px;
}

section.about-section.purpose-section h2 {
    font-size: 24px;
}

section.about-section.purpose-section .counters h2.my-2 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
}

section.about-section.purpose-section .counters .box {
    margin: 0 10px;
}

section.about-section.purpose-section .counters p.textmuted {
    margin-bottom: 5px;
    font-size: 15px;
}

section.about-section.purpose-section .title-info h4 br {display: none;}

section.about-section.purpose-section {
    padding-top: 110px;
    padding-bottom: 0;
}

section.about-section.purpose-section .title-info {
    padding-bottom: 0;
}

section.about-section.purpose-section h2 {
    color: #fff;
}

section.about-section.purpose-section h4 {
    color: #fff;
}

section.about-section.purpose-section  .title-head {
    padding-bottom: 10px;
}

section.about-section.purpose-section .title-head.title-info {
    padding-bottom: 0;
}

section.feature-section {
    padding-top: 40px;
    padding-bottom: 0;
}

section.feature-section h2.my-2 {
    font-size: 14px;
    margin-top: 10px;
}

section.feature-section p.textmuted {
    font-size: 12px;
    line-height: 150%;
}

section.business-section .nav-tabs {
    display: flex;
    white-space: nowrap;
    justify-content: start;
    overflow: auto;
    scrollbar-width: none;
}

section.business-section .nav-tabs li.nav-item a.nav-link {
    font-size: 14px;
    padding: 0 10px;
}

section.business-section .nav-tabs {
    margin-bottom: 15px;
}

section.business-section .tab-pane .box {
    margin: 0px 0 15px;
}

section.business-section {
    padding-bottom: 20px;
}

.recycle-slider-section div.itemsContent p.textif {
    display: none;
}

.recycle-slider-section .slider .contentinfo {
    bottom: 30px;
    left: 0px;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: start;
}

section.recycle-slider-section .contentleft .title-head p br {
    display: none;
}

.recycle-slider-section .slider .contentinfo .title-head h2 {
    font-size: 18px;
    margin-top: 0;
}

.recycle-slider-section .slider .contentinfo .title-head p {
    font-size: 14px;
    line-height: 150%;
    padding-bottom: 13px;
}

section.recycle-slider-section .contentleft > p {
    margin-bottom: 0;
}

section.recycle-slider-section .contentright a {
    padding: 0 10px;
}

.recycle-slider-section .progressBarContainer {
    bottom: 20px;
    padding: 0 15px;
}

section.recycle-slider-section .itemsContent > .image {}

section.recycle-slider-section .itemsContent > .image img {
    height: 380px;
    object-fit: cover;
}

section.recycle-slider-section .contentleft {
    padding-right: 50px;
}

section.blue-section {
    padding: 30px 0;
}

.info {}

section.blue-section .info {}

section.blue-section .info p br {display: none;}

section.blue-section .info p {
    font-size: 14px;
    margin-top: 1px;
}

section.blue-section  .box {
    padding: 12px 30px;
}

.cl-logo-slider {}

.cl-logo-slider .col-sm-2 {
    width: 50%;
}

.cl-logo-slider .row {
    display: flex;
    flex-wrap: wrap;
}

section.discover-more-section {}

section.discover-more-section .title-head h4 br {
    display: none;
}

.title-head {}

section.discover-more-section .title-head {
    padding-bottom: 0;
}

.customer-logos .slide > img {
    width: 100%;
    height: 80px;
    object-fit: cover;
}

#hero.inside-banner h1 {
    font-size: 30px;
    line-height: 120%;
}

#hero.inside-banner {
    padding-bottom: 30px;
    min-height: 400px;
}

.inner-main .title-head h4 br {
    display: none;
}

.inner-main section.about-section .row {
    flex-direction: column;
}

.inner-main section.about-section .row .info {}

.inner-main section.about-section .row .info h2 {
    font-size: 23px;
}

section.discover-more-section {
    padding-top: 0;
}

section.discover-more-section .box {
    margin-bottom: 30px;
}

.inner-main section.about-section.our-ups .title-head h2 br {
    display: none;
}

.inner-main .title-head h4 {
    margin-bottom: 0;
}

.inner-main section.about-section.our-ups .row {
    padding-bottom: 20px;
}

.inner-main section.about-section.our-ups .row .textcenter {
    order: 1;
}

.inner-main section.about-section.our-ups .title-head.btm {
    text-align: left;
    padding-bottom: 0;
}

.inner-main section.about-section.our-ups {
    padding-bottom: 0;
}

section.section1.about-section {
    padding-top: 30px;
}

section.section1.about-section h2 br {
    display: none;
}

section.section1.about-section .title-head {
    padding-bottom: 10px;
}

section.section1.about-section .right-space {}

.inner-main section.section1.about-section .row {
    flex-direction: column-reverse;
}


section.journey-section .containerz {
    width: 90%;
    margin: auto;
}

section.journey-section .left h2 {
    text-align: left;
}

section.journey-section .left::before {
    left: 3px;
}

section.journey-section .content {
    width: 96%;
    padding: 14px 20px 0;
}

section.journey-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

section.journey-section .kerstbal-container ul {
    padding-left: 20px;
    margin: 0;
}

section.journey-section .content h2 {
    font-size: 24px;
}

section.journey-section .kerstbal-container ul li, section.journey-section .kerstbal-container p {
    font-size: 14px;
}

section.journey-section .kerstbal-container ul li {
    margin: 0px 0;
}

section.journey-section .right::before {
    left: 3px;
}

.inner-main section.about-section.our-ups .textcenter .info.info-list {
    width: 100%;
    text-align: left;
}

.inner-main section.about-section.our-ups .row .textcenter {
    text-align: left;
    width: 100%;
}

.inner-main section.about-section.our-ups .row .textcenter ul {
    padding-top: 0;
}

.inner-main section.about-section.our-ups .title-head.btm.btm1 {
    text-align: center;
    padding-bottom: 20px;
}

.inner-main section.about-section.our-ups .title-head.btm.btm1 h2 {
    font-size: 24px;
}


.collapse.navbar-collapse {
    display: none !important;
}

.product-listing {
    padding-bottom: 30px;
}

.product-listing .tabs {
    overflow: auto;
    justify-content: start;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.product-listing .box {max-width: 85%;margin: auto; margin-bottom: 30px;}

.product-listing .tabs button.btn {
    padding: 6px 15px;
    margin: 0 2px;
}

.product-listing .box .image img {
    width: 100%;
}

footer.footer-section .footer-btm .footer-btm-top .row .footer-links {
    width: 50%;
}

footer.footer-section .footer-btm-top .container {
    padding: 0;
}

footer.footer-section .footer-btm .footer-btm-top .row {
    flex-wrap: wrap;
    margin: auto;
}

footer.footer-section .footer-top h2 {
    font-size: 18px;
    margin-top: 10px;
}

footer.footer-section .footer-top .title-head {
    padding-bottom: 0px;
}

footer.footer-section .footer-top .btns {
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer.footer-section {
    background-size: cover;
    padding-top: 20px;
}

.footer-top .btns a {
    padding: 5px 10px;
    min-width: 44%;
    justify-content: center;
    margin-bottom: 14px;
    font-size: 14px;
}

.footer-top .btns a.outline {
    padding: 4px 10px;
}

footer.footer-section .footer-btm ul li a {
    font-size: 12px;
    line-height: 150%;
    display: inline-block;
}

footer.footer-section .footer-btm .footer-btm-top ul li {
    margin-bottom: 1px;
}

footer.footer-section .footer-btm h4 {
    margin-bottom: 0;
    margin-top: 0;
}

footer.footer-section .footer-btm-top {
    padding-bottom: 10px;
}

footer.footer-section .footer-btm .footer-btm-mid .container {
    flex-direction: column;
    padding: 10px 0;
}

footer.footer-section .footer-btm .footer-btm-mid .footer-mid-left ul li a {
    font-size: 16px;
    width: 28px;
    height: 28px;
}

.footer-mid-right {
    justify-content: center;
}

.footer-mid-right a {
    margin: 11px 10px 0 10px;
}

.footer-mid-right a i.fa {
    font-size: 17px;
}

.footer-btm-last .container .row {flex-direction: column;align-items: center;}

.footer-btm-last {
    padding: 10px 0 0 0;
}

.footer-btm-last p {
    font-size: 14px;
    margin-bottom: 0;
}




}